*{
    font-family: "Courier New", "Courier", monospace;
    font-size: 35px;
    background:radial-gradient(rgb(214, 3, 233),rgb(10, 240, 228) , rgb(6, 6, 201));
    background-repeat:no-repeat;
    background-attachment: fixed;
}
img{
    height: auto;
    width: fit-content;
    margin-left: 30%;
}
.title{
    font-size: 50px;
    text-shadow: 10px 10px 5px rgb(49, 49, 49);
    text-align: center;
    text-decoration: double underline;
}
#child{
    text-align:left;
    text-decoration: dotted underline yellow;
    padding-left:  20px;
    color:gold;
}
.list{
    margin-left: 10%;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
.unordered{
    padding: 0%;
    margin-left: 0;
}